.slider-container {

    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
  }
  
  .slider-item {
    position: relative;

    border-radius: var(--border-radius-md);
    overflow: hidden;
    /* scroll-snap-align: start; */
  }
  