.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
  }
  
  .slide-item {
    position: relative;

    border-radius: var(--border-radius-md);
    overflow: hidden;
    /* scroll-snap-align: start; */
  }
  